<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px
  }
</style>

<div class="container">
  <span>
    Oi, {{ name }}
  </span>
  <br/>
  <span>
    Foi solicitada uma alteração de senha, para realizar a troca clique no <a href="{{link}}">link</a>, caso não tenha sido você quem solicitou a modificação da senha basta ignorar este email
  </span>

  <strong>Equipe | Rentx</strong>
</div>
